.popup-card__close {
  cursor: pointer;
  margin-left: auto;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border: none;
  margin-right: -18px;
}
.popup-card__close:hover {
  opacity: 0.6;
  transition: 0.45s;
}


@media screen and (max-width: 470px) {
  .popup-card__close {
    width: 20px;
    padding-bottom: 5px;
    margin-right: 0;
  }
}
