.logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 778px) {
  .logo {
    margin: 28px 0 0 27px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 470px) {
  .logo {
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 31.6px;
  }
}
