.footer {
  margin: 67px 200px 60px 200px;
}

@media screen and (max-width: 1050px) {
  .footer {
    margin: 67px 150px 60px 150px;
  }
}
@media screen and (max-width: 1050px) {
  .footer {
    margin: 67px 100px 60px 100px;
  }
}
@media screen and (max-width: 850px) {
  .footer {
    margin: 67px 50px 60px 50px;
  }
}
@media screen and (max-width: 778px) {
  .footer {
    margin: 48px 19px 36px 19px;
  }
}
