.elements__heart {
  cursor: pointer;
}
.elements__heart:hover {
  opacity: 0.5;
  transition: 0.45s;
}
.elements__heart:active {
  background-image: url(../../../images/black-heart.svg);
  background-repeat: no-repeat;
  opacity: 1;
}
