.popup__item {
  border: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0 0 0 / 20%);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.popup__item:first-of-type {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.popup__item:last-of-type {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

@media screen and (max-width: 470px) {
  .popup__item:last-of-type {
    margin-bottom: 45px;
  }
}
